/* Set some basic styles */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the header */
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__navRight {
  display: flex;
  align-items: center;
}

.header__navLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__navBrand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.header__navBrandLogo {
  width: 2rem;
  margin-right: 0.5rem;
}

.header__navSearch {
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.header__navSearchLogo {
  display: none;
}

.header__navWriteLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #ddd;
}

.header__navBell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #ddd;
}

.header__navUser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #ddd;
}

.header__navUserText {
  font-size: 1rem;
  font-weight: bold;
}

/* Style the navigation menu */
nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
  padding: 0 1rem;
  border-right: 1px solid #ddd;
  color: red;
}

nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a .active {
  color: blue;
}
nav a:hover {
  color: blue;
}

/* Style the article */
article {
  max-width: 700px;
  margin: 0 auto;
}

.article-subheader {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #777;
}

.article-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  color: #777;
}

.article-author {
  margin: 0;
}

.article-author a {
  color: #000;
}

.article-date {
  margin: 0;
}

.article-tags {
  margin: 0;
}

.article-tags a {
  margin-right: 0.5rem;
  color: #777;
}

.article-image {
  max-width: 100%;
  margin-top: 2rem;
}

section {
  margin-top: 2rem;
}

section h3 {
  margin-top: 0;
  color: #333;
}

blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 5px solid #ddd;
  background-color: #f3f3f3;
  font-style: italic;
}

blockquote p {
  margin: 0;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* Style the footer */

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f3f3f3;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #777;
}

.footer a {
  color: #777;
}

/* Style the related articles */

.related__articles {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f3f3f3;
  text-align: center;
}

.related__articlesTitle {
  margin: 0;
  color: #333;
}

.related__articlesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.related__articlesItem {
  width: 100%;
  margin-top: 1rem;
}

.related__articleslink {
  text-decoration: none;
  color: #000;
}

/* Style the accessibility options */
.accessibility--options__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: #ddd;
  padding: 0.5rem;
  z-index: 2;
}
.accessibility--options__button__text {
  font-size: 0.75rem;
  font-weight: bold;
}

.accessibility--options {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.accessibility--options.active {
  display: block;
}
.accessibility--optionsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #ddd;
}

.accessibility--optionsDescription {
  margin-left: 1rem;
}

.accessibility--optionsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accessibility--optionsItem {
  margin-top: 1rem;
}

.accessibility--options__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.accessibility--options__save {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: #ddd;
  padding: 0.5rem;
  z-index: 2;
}

.accessibility--options__save__text {
  font-size: 0.75rem;
  font-weight: bold;
}

.accessibility--options__cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: #ddd;
  padding: 0.5rem;
  z-index: 2;
}

.accessibility--options__cancel__text {
  font-size: 0.75rem;
  font-weight: bold;
}

/* blockquote p {
  margin:  */
